<?xml version="1.0" encoding="utf-8"?>
<config>
    <server>
        <name>CCW-01</name>
    </server>
    <tasks>
        <copy_archive>
            <source>\\G7TCJ5Y2E\test</source>
            <destination>test2</destination>
            <credentials>false</credentials>
            <!-- if credentials true then input the username and password-->
            <username>Test</username>
            <password>Test1234!</password>
            <drive_letter>Z</drive_letter>
            <logfile>copy.log</logfile>
        </copy_archive>
    </tasks>
</config>